bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/RaoufConsole/
AopWebAdmin/aoptest-529978a1cb5c.json
AopWebAdmin/appsettings.json
AopWebAdmin/appsettings.Development.json
AopWebAdmin/appsettings.json
deploy.sh
