@page
@using DatabaseConnector.Models
@model AopsImporter
@{
    ViewData["Title"] = "AoPS Problem Scraping";
}

<h1>Search for a problem on AoPS</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="Search">Source Name of the Problem</label>
        <input asp-for="Search" class="form-control"/>
        <span asp-validation-for="Search" class="text-danger"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>
<br>
@if (Model.ProblemAreadyInDb)
{
    <span class="text-danger">Problem already in the database</span>
}
else if (Model.DidntFindProblem)
{
    <span class="text-danger">Problem not found :/</span>
}
