@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Algerian Olympiad Training Platform</h1>
    <h2>Admin Panel</h2>
</div>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-3 mb-4">
            <a href="/Users" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-users fa-3x mb-2"></i>
                <h5>Manage Users</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/Users/new" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-user-plus fa-3x mb-2"></i>
                <h5>Add User</h5>
            </a>
        </div>
        
        <div class="col-md-3 mb-4">
            <a href="/Quizzes" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-check-square fa-3x mb-2"></i>
                <h5>Manage Quizzes</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/Quizzes/new" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-check-double fa-3x mb-2"></i>
                <h5>Add Quizz</h5>
            </a>
        </div>

        <div class="col-md-3 mb-4">
            <a href="/Problems" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-square-root-alt fa-3x mb-2"></i>
                <h5>Manage Problems</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/Problems/new" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-square-root-alt fa-3x mb-2"></i>
                <h5>Add Problems</h5>
            </a>
        </div>
        
        <div class="col-md-3 mb-4">
            <a href="/Problemsets" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-list fa-3x mb-2"></i>
                <h5>Manage Problemsets</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/Problemsets/new" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-list fa-3x mb-2"></i>
                <h5>Add Problemset</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/AopsImporter" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-cube fa-3x mb-2"></i>
                <h5>AoPS Importer</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/FileManager" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-cloud fa-3x mb-2"></i>
                <h5>Manage storage</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/Lessons" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-book fa-3x mb-2"></i>
                <h5>Manage Lessons</h5>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/Lessons/new" class="btn btn-light shadow-lg w-100 py-4">
                <i class="fas fa-file fa-3x mb-2"></i>
                <h5>Add Lesson</h5>
            </a>
        </div>
    </div>
</div>
