@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img style="max-width: 90%;" src="/logo.svg"/>
    <h1 class="display-3">Algerian Mathematical Olympiad</h1>
    <h1 class="display-6">New Website</h1>
</div>