@page
@model LessonsModel
@using DatabaseConnector.Models
@{
    ViewData["Title"] = "Lessons";
}


<div class="text-center">
    <h1 class="display-4">Lessons</h1>
    <a class="text-end" href="/Lessons/new" style="margin-right: 10px;">Add a Lesson</a>

    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search..."/>
    </div>

    <table class="table table-bordered table-hover" id="LessonsTable">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Lesson p in Model.Lessons)
        {
            <tr>
                <td>
                    <a href="/Lessons/@p.Id" type="submit">@p.Id</a>
                </td>
                <td>@p.Name.EnglishDescription.Content</td>
                <td>
                    <a href="/Lessons/@p.Id" type="submit" class="btn btn-sm btn-info d-inline">Edit</a>
                    <form method="post" class="d-inline">
                        <input type="hidden" asp-for="LessonToAffect" value="@p.Id"/>
                        <input type="hidden" asp-for="Action" value="@LessonsModel.Actions.Delete"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>

<script>
    const table = document.getElementById("LessonsTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element =>{
            contents[i] += element.innerText + " ";
        });

        contents[i] = contents[i].toLowerCase();
    }
    
    
    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) { 
            if (contents[i].includes(searchInput)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

</script>