@model List<DatabaseConnector.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (var user in Model)
{
    @user.EnglishName.FirstName<a> </a> @user.EnglishName.LastName <br>
    @user.Email <br>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>